@import "tailwindcss";

@tailwind utilities;

.listings-container {
    @apply container mx-auto;
}

.listings-container.items-container {
    @apply flex flex-wrap justify-start gap-1;
}

.nft-box {
}

.nft-card {
    @apply rounded-lg border border-gray-200 shadow-md hover:shadow-lg
    transition-shadow duration-300 overflow-hidden cursor-pointer max-w-xs;
}

.nft-tooltip {
    @apply absolute z-10 p-2 bg-gray-800 text-white text-sm rounded-md shadow-lg;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    max-width: 300px;
    margin-bottom: 5px;
}

.tooltip-title {
    @apply font-semibold mb-1;
}

.tooltip-description {
    @apply text-xs text-gray-300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.nft-tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1f2937 transparent transparent transparent;
}

.list-listings-container {
    @apply flex flex-col;
}

.list-listing-info-container {
}

.list-listing-info-item {
    @apply flex flex-row;
}

.listing-action-list-btn {
    @apply inline-flex items-center rounded-md bg-blue-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-inner shadow-white/10 focus:not-data-focus:outline-none data-focus:outline data-focus:outline-white data-hover:bg-blue-500 data-open:bg-gray-700 data-disabled:opacity-60;
}

.asset-withdraw-container {
    @apply flex flex-col;
}

.assets-proceeds-info-item {
    @apply flex flex-row;
}

.withdraw-action-withdraw-btn {
    @apply inline-flex items-center rounded-md bg-blue-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-inner shadow-white/10 focus:not-data-focus:outline-none data-focus:outline data-focus:outline-white data-hover:bg-blue-500 data-open:bg-gray-700 data-disabled:opacity-60;
}
